<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>


<div ng-app="dst" class="row">
  <div ng-controller="usersController" class="col-xs-12 col-sm-6 col-md-8">
    <div ng-repeat="(key, category) in userCategories" ng-class="category-{{key}}">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th colspan="2">{{key | uppercase}}</th>
        </tr>
        <tr ng-repeat="user in category">
          <td>{{user.username}}</td>
          <td>{{user.days}}</td>
        </tr>
      </table>
      </br>
    </div>
  </div>
  <div ng-controller="formController" class="form-group col-xs-6 col-md-4">
    <h3>Add your username to Duolingo Streak Tracker!</h3>
    <form novalidate class="simple-form" ng-submit="addUser(user)">
      Duolingo Username: <input type="text" ng-model="user.username" /><br />
      <div ng-show="serverErrorMessage">
        {{ serverErrorMessage }}
      </div>
      <input type="submit" value="Add Me" />
    </form>
  </div>
</div>

<script>
  var dst = angular.module('dst',[]);
  dst.controller('usersController', function($scope, $rootScope, $http){
    
    var loadUsers = function(){
      $http({
      method: 'GET',
      url: '/users.json'
    }).then(function successCallback(response) {
         $scope.userCategories = response.data;
         console.log($scope.userCategories);
      }, function errorCallback(response) {
      });
    };

    $rootScope.$on('a user has been added', function() {
      loadUsers();
    });

    loadUsers();
    
  });

  dst.controller('formController', function($scope, $rootScope, $http) {
    $scope.addUser = function(){
      $scope.user = {
        'username' : $scope.user.username
      };
      $http({
        method: 'POST',
        url: '/users.json',
        data: $scope.user
      }).then(function successCallback(response) {
        $rootScope.$broadcast('a user has been added');
      }, function errorCallback(response){
        if (response.status == 422) {
          $scope.serverErrorMessage = response.data.username[0] + " Check the spelling and try again?"
          // response.data.username[0] => "Duolingo couldn't find this username! Check the spelling and try again?"
        } else {
          // generic error message
        }

      });
    };
  });
</script>
