<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>


<div ng-app="dst">
  <div ng-controller="formController">
    <h3>Add your username to Duolingo Streak Tracker!</h3>
    <form novalidate class="simple-form" ng-submit="addUser(user)">
      Duolingo Username: <input type="text" ng-model="user.username" /><br />
      <input type="submit" value="Add Me" />
    </form>
  </div>
  <div ng-controller="usersController">
    <div ng-repeat="(key, category) in userCategories" ng-class="category-{{key}}">
      <table >
        <tr>
          <th>{{key | uppercase}}</th>
        </tr>
        <tr ng-repeat="user in category">
          <td>{{user.username}}</td>
          <td>{{user.days}}</td>
        </tr>
      </table>
      </br>
    </div>
  </div>
</div>

<script>
  var dst = angular.module('dst',[]);
  dst.controller('usersController', function($scope, $http){
    $http({
      method: 'GET',
      url: '/users.json'
    }).then(function successCallback(response) {
         $scope.userCategories = response.data;
      }, function errorCallback(response) {
      });
  });

  dst.controller('formController', function($scope, $http) {
    $scope.addUser = function(){
      $scope.user = {
        'username' : $scope.user.username
      };
      $http({
        method: 'POST',
        url: '/users.json',
        data: $scope.user
      }).then(function successCallback(response) {
         $scope.userCategories = response.data;
      }, function errorCallback(response) {
      });
    };
  });
</script>
