<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>

<div ng-app="dst">
  <div ng-controller="usersController">
    <div ng-repeat="(key, category) in userCategories" ng-class="category-{{key}}">
      <table >
        <tr>
          <th>{{key | uppercase}}</th>
        </tr>
        <tr ng-repeat="user in category">
          <td>{{user.username}}</td>
        </tr>
      </table>
      </br>
    </div>
  </div>
</div>

<script>
  var dst = angular.module('dst',[]);
  dst.controller('usersController', function($scope, $http){
    $http({
      method: 'GET',
      url: '/users.json'
    }).then(function successCallback(response) {
         $scope.userCategories = response.data;
      }, function errorCallback(response) {
      });
  });
  

</script>
