<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>

<div ng-app="dst">
  <div ng-controller="usersController">
     <ul>
       <li ng-repeat="user in users">
          The username is {{user.username}}
       </li>
     </ul>

  </div>
</div>

<script>
  var dst = angular.module('dst',[]);
  dst.controller('usersController', function($scope, $http){
    $http({
      method: 'GET',
      url: '/users.json'
    }).then(function successCallback(response) {
         $scope.users = response.data.users;
      }, function errorCallback(response) {
      });
  });
  

</script>
