@import "bootstrap-sprockets";
@import "bootstrap";

[ng-class*="category-"] {
	display: block;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 25px;
}

td.username {
	width: 80%;
}

td.streak-days {
	width: 20%;
}