<!DOCTYPE html>
<html>
<head>
  <title>Duolingo Streak Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container">
		<h1>Duolingo Streak Tracker</h1>
		<h3>An Unofficial Hall of Fame</h3>
		<p>Inspired by <a href="https://www.duolingo.com/comment/2933824" target="_blank">jitengore's "unoffical list of members from the one year+ hall of fame" comment thread</a>, Duolingo Streak Tracker automates the manual "streak-tracking" done there. For every day a language-learner practices on the <a href="www.duolingo.com" target="_blank">Duolingo</a> app, their streak is extended by 1 point. All the users who signed up in the unofficial one year+ hall of fame comment thread are listed here with their current streak length, and are grouped in the same way. If we keep practicing, we can all make it into the Platinum group (2 year streak)!</p>

		<%= yield %>
		
	</div>
</body>
</html>